---
- name: import Grafana GPG key
  rpm_key:
    state: present
    key: https://rpm.grafana.com/gpg.key
  become: yes
- name: Set Grafana Yum repository
  yum_repository:
    name: grafana
    description: Grafana Repository
    baseurl: https://rpm.grafana.com
    repo_gpgcheck: yes
    enabled: yes
    gpgcheck: yes
    gpgkey: https://rpm.grafana.com/gpg.key
    sslverify: yes
    sslcacert: /etc/pki/tls/certs/ca-bundle.crt
    state: present
  become: yes
- name: install Grafana
  dnf:
    name: grafana
    state: present  
  become: yes
- name: start Grafana and enable it
  systemd:
    name: grafana-server
    state: started
    enabled: yes
  become: yes
- name: wait for Grafana to start
  wait_for:
    port: 3000
    delay: 2
  
- name: connect to Prometheus
  uri:
    url: "http://localhost:3000/api/datasources"
    method: POST
    user: admin
    password: admin
    force_basic_auth: yes
    body_format: json
    body:
      name: "Prometheus"
      type: "prometheus"
      url: "http://localhost:9090"
      access: "proxy"
      isDefault: true
    # 200 表示创建成功，409 表示数据源已存在（幂等性）
    status_code: [200, 409]
  become: yes