- name: Install English localisation
  ansible.builtin.dnf:
    name:
      - glibc-langpack-en
    state: latest
  become: true
  become_user: root
- name: Set en-GB localization
  shell: "localectl set-locale en_GB.UTF-8"
  become: true
  become_user: root
- name: Set time-zone
  shell: "timedatectl set-timezone Europe/London"
  become: true
  become_user: root
- name: Update packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
  become: true
  become_user: root
- name: Install quality of life tools
  ansible.builtin.dnf:
    name:
      - vim
      - emacs
      - nano
      - screen
      - tmux
      - net-tools
      - bind-utils
      - htop
      - git
      - ansible
      - make
      - wget
      - unzip
      - links
    state: latest
  become: true
  become_user: root
- name: Install Python 3
  ansible.builtin.dnf:
    name:
      - python3-devel
      - python3-pip
      - python3-virtualenv
    state: latest
  become: true
  become_user: root
- name: Install compilers
  ansible.builtin.dnf:
    name:
    - g++
    - gfortran
    - patch
    - bzip2
    - make
    state: latest
  become: true
  become_user: root
