- name: Create node_exporter user (cant log in)
  user:
    name: node_exporter
    shell: /sbin/nologin
    system: yes
    state: present
  become: yes
- name: download node_exporter 
  get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
    dest: "/tmp/node_exporter.tar.gz"
  become: yes
- name: extract node_exporter archive
  unarchive:
    src: "/tmp/node_exporter.tar.gz"
    dest: "/tmp"
    remote_src: yes
  become: yes
- name: Copy node_exporter binary to /usr/local/bin
  copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter"
    dest: "/usr/local/bin/node_exporter"
    mode: '0755'
    remote_src: yes
    owner: node_exporter
    group: node_exporter
  become: yes
- name: Set up systemd service for node-export
  copy:
    dest: /etc/systemd/system/node_exporter.service
    content: |
      [Unit]
      Description=Node Exporter
      After=network.target

      [Service]
      User=node_exporter
      Group=node_exporter
      Type=simple
      ExecStart=/usr/bin/nice -n 10 /usr/local/bin/node_exporter
      Restart=always

      [Install]
      WantedBy=multi-user.target
  become: yes
- name: Start the service of node-export
  systemd:
    name: node_exporter
    state: restarted
    enabled: yes
    daemon_reload: yes
  become: yes
- name: Check node-export is running
  wait_for:
    port: 9100
    timeout: 5
  become: yes