- name: import RabbitMQ key
  ansible.builtin.rpm_key:
    state: present
    key: https://github.com/rabbitmq/signing-keys/releases/download/3.0/rabbitmq-release-signing-key.asc
  become: yes
- name: import erlang key
  ansible.builtin.rpm_key:
    state: present
    key: 'https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-erlang.E495BB49CC4BBE5B.key'
  become: yes
- name: import RabbitMQ server key
  ansible.builtin.rpm_key:
    state: present
    key: 'https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-server.9F4587F226208342.key'
  become: yes
- name: set repo of rabbitmq and erlang
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/rabbitmq.repo
    mode: '0644'
    owner: root
    group: root
    content: |
      [modern-erlang]
      name=modern-erlang-el9
      # Use a set of mirrors maintained by the RabbitMQ core team.
      # The mirrors have significantly higher bandwidth quotas.
      baseurl=https://yum1.rabbitmq.com/erlang/el/9/$basearch
              https://yum2.rabbitmq.com/erlang/el/9/$basearch
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-erlang.E495BB49CC4BBE5B.key
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [modern-erlang-noarch]
      name=modern-erlang-el9-noarch
      # Use a set of mirrors maintained by the RabbitMQ core team.
      # The mirrors have significantly higher bandwidth quotas.
      baseurl=https://yum1.rabbitmq.com/erlang/el/9/noarch
              https://yum2.rabbitmq.com/erlang/el/9/noarch
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-erlang.E495BB49CC4BBE5B.key
            https://github.com/rabbitmq/signing-keys/releases/download/3.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md


      ##
      ## RabbitMQ Server
      ##

      [rabbitmq-el9]
      name=rabbitmq-el9
      baseurl=https://yum2.rabbitmq.com/rabbitmq/el/9/$basearch
              https://yum1.rabbitmq.com/rabbitmq/el/9/$basearch
      repo_gpgcheck=1
      enabled=1
      # Cloudsmith's repository key and RabbitMQ package signing key
      gpgkey=https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-server.9F4587F226208342.key
            https://github.com/rabbitmq/signing-keys/releases/download/3.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [rabbitmq-el9-noarch]
      name=rabbitmq-el9-noarch
      baseurl=https://yum2.rabbitmq.com/rabbitmq/el/9/noarch
              https://yum1.rabbitmq.com/rabbitmq/el/9/noarch
      repo_gpgcheck=1
      enabled=1
      # Cloudsmith's repository key and RabbitMQ package signing key
      gpgkey=https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-server.9F4587F226208342.key
            https://github.com/rabbitmq/signing-keys/releases/download/3.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md
  become: yes
- name: install logrotate 
  ansible.builtin.dnf:
      name: logrotate
      state: present
  become: yes
- name: install erlang
  ansible.builtin.dnf:
    name: erlang
    state: present
  become: yes
- name: clean DNF cache
  command: dnf clean all
  become: yes
- name: Clean DNF cache directory
  file:
    path: /var/cache/dnf
    state: absent
  become: yes
- name: Refresh DNF cache
  command: dnf makecache -y
  become: yes
- name: Update DNF cache data
  ansible.builtin.dnf:
    update_cache: yes
  become: yes
- name: install rabbitmq-server
  ansible.builtin.dnf:
    name: rabbitmq-server
    state: present
  become: yes
- name: start rabbitmq-server
  ansible.builtin.service:
    name: rabbitmq-server
    state: started
  become: yes
- name: enable rabbitmq-server
  ansible.builtin.service:
    name: rabbitmq-server
    enabled: yes
  become: yes
- name: Create RabbitMQ user
  ansible.builtin.shell: |
    sudo rabbitmqctl list_users | grep -q "^pipeline\\s" || rabbitmqctl add_user pipeline pipeline123
  become: yes
- name: Set RabbitMQ user permissions
  ansible.builtin.command: 
    rabbitmqctl set_permissions -p / pipeline ".*" ".*" ".*"
  become: yes
- name: enable rabbitmq_prometheus plugin
  ansible.builtin.command: 
    rabbitmq-plugins enable rabbitmq_prometheus
  become: yes

- name: copy configuration file to rabbitmq.conf
  ansible.builtin.copy: 
    src: "./rabbit.conf"
    dest: "/etc/rabbitmq/rabbitmq.conf"
    mode: '0755'
  become: yes

- name: restart rabbitmq-server
  ansible.builtin.service:
    name: rabbitmq-server
    state: restarted
  become: yes