- name: wait 5 seconds to ensure celery know the worker is killed
  ansible.builtin.pause:
    seconds: 5
- name: start celery with nohup
  ansible.builtin.shell: 
    cmd: "nohup {{ celery_cmd }} > celery_stdout.log 2>&1 &"
    chdir: "{{ project_root }}"

- name: 确认进程是否已启动
  shell: "ps aux | grep 'celery'"
  register: celery_status
      
- debug:
    msg: "Celery 运行状态: {{ celery_status.stdout }}"