- name: kill prometheus
  ansible.builtin.shell:
    cmd: "fuser -k 9090/tcp || true"
- name: start it again
  shell: |
    nohup ./prometheus --config.file=prometheus.yml > {{ prom_logs }} 2>&1 &
  args:
    chdir: "{{ prom_location }}"
  async: 10
  poll: 0
- name: 确认端口已启动
  wait_for:
    port: 9090
    delay: 2
    timeout: 10