- name: Make sure project root exists
  ansible.builtin.file:
    state: directory
    path: "{{ project_root }}"
    mode: '0755'
- name: Ensure pip packages are installed for Python 3.12
  ansible.builtin.pip:
    name:
      - psycopg2
      - biopython
    executable: pip3.12
    state: present
  become: yes
- name: Create database in PostgreSQL
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"
    state: present
  become: yes
- name: Create temporary directory on Worker
  file:
    path: "{{ remote_data_dir }}"
    state: directory
    mode: '0755'
- name: copy FASTA file and python file to workers
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: "{{ local_fasta_path }}", dest: "{{ remote_data_dir }}/data.fasta" }
    - { src: "./import_fasta.py", dest: "{{ remote_data_dir }}/import_fasta.py" }
- name: Run the import_fasta.py script on Worker
  become_user: postgres
  command: "python3.12 {{ remote_data_dir }}/import_fasta.py {{ db_name }} {{ remote_data_dir }}/data.fasta"
  register: import_result
  become: yes
- name: Show the results of import_fasta.py
  debug:
    msg: "Successfully import fasta file to database in PostgreSQL"
- name: Remove the temporary FASTA file from Worker
  file:
    path: "{{ remote_data_dir }}/data.fasta"
    state: absent