- name: Set prometheus home directory
  file:
    path: "{{ prom_home }}"
    state: directory
    mode: '0755'

- name: download and extract prometheus
  unarchive:
    src: "https://github.com/prometheus/prometheus/releases/download/v{{ prom_version }}/prometheus-{{ prom_version }}.linux-amd64.tar.gz"
    dest: "{{ prom_home }}"
    remote_src: yes
    extra_opts: 
      - "--strip-components=1"
    creates: "{{ prom_home }}/prometheus"

- name: create prometheus data directory
  file:
    path: "{{ prom_home }}/data"
    state: directory
    mode: '0755'
- name: copy configuration file to prometheus directory
  ansible.builtin.copy: 
    src: "./config_pro.yaml"
    dest: "{{ prom_home }}/prometheus.yml"
    mode: '0755'
  