- name: Ensure postgresql is at the latest version
  ansible.builtin.dnf:
    name: postgresql
    state: latest
  become: yes
- name: Ensure postgresql-server
  ansible.builtin.dnf:
    name: postgresql-server
    state: latest
  become: yes
- name: Ensure postgresql-contrib is at the latest version
  ansible.builtin.dnf:
    name: postgresql-contrib
    state: latest
  become: yes
- name: Ensure postgresql-devel is at the latest version
  ansible.builtin.dnf:
    name: postgresql-devel
    state: latest
  become: yes
- name: "Find out if PostgreSQL is initialized"
  ansible.builtin.stat:
    path: "/var/lib/pgsql/data/pg_hba.conf"
  register: postgres_data
  become: yes
- name: initialise db
  shell: "/usr/bin/postgresql-setup --initdb"
  when: not postgres_data.stat.exists
  become: yes
- name: Ensure that postgresql is started
  ansible.builtin.service:
    name: postgresql
    state: started
  become: yes